<!doctype html>
<html lang="en">
<nav th:fragment="nav">
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="/">Homepage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/perform_logout">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="/users">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="/myprofile">My Profile</a>
    </li>
</ul>

</nav>
</html>