<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<header>

</header>
<main>
    <h1>Welcome to Code Fellowship</h1>
    <p>Please log in to your account or create a new account</p>
    <button><a href="/login">Click here to login</a></button>

</main>
</body>
</html>