<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <link type="text/css" href="reset.css" rel="stylesheet">
    <link type="text/css" href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color:#AA14F0;">
<header style="background-color:#f600ff;display: flex;justify-content: space-between;">
    <h2 sec:authentication="name"></h2>
    <div th:replace="fragments/header :: nav"></div>
</header>
<main >
    <h1 style="display: flex;justify-content: center;margin-top: 20px;">Welcome to Code Fellowship</h1>

    <div sec:authorize="isAnonymous()"  class="card bg-light mb-3" style="width: 18rem;margin:12% 40%;background-color: #dd993bd4!important;">
        <div class="card-body">
            <p class="card-text">Please log in to your account or create a new account</p>
            <a style="display: flex;justify-content: center;" href="/login" class="btn btn-primary">Click here to login</a>
        </div>
    </div>
</main>
</body>
</html>