<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" href="style.css" rel="stylesheet">
</head>
<body>
<header>
    <h2 sec:authentication="name"></h2>
    <div th:replace="fragments/header :: nav"></div>
</header>
<main>
    <h1>Single User Profile Page</h1>

    <div style="display:flex;gap:20px;margin-left:30px">
        <div th:each="user:${users}" class="card" style="width: 18rem;margin: 10px;">
            <img class="card-img-top" th:src="@{/img/abstract-user-flat-4.svg}" alt="Card image cap">
            <div class="card-body">
                <h5 th:text="${user.username}" class="card-title"></h5>
                <p th:text="${user.firstName}+' '+ ${user.lastName}"></p>
                <p th:text="${user.dateOfBirth}"></p>
                <p th:text="${user.bio}" class="card-text"></p>
            </div>
        </div>
        <div>

            <form action="/post" method="post" style="width: 25rem;margin: 20px;">
                <div class="form-group">
                    <label for="body">Add New Post</label>
                    <textarea class="form-control" type="text" id="body" name="body"rows="3"></textarea>

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div>
        <h3 style="margin-left:40px;"> Your Posts : </h3>
        <div class="list-group">
            <ul th:each="post : ${posts}" style="width: 70%;">
                <li class="list-group-item list-group-item-primary">Post :<span th:text="${post.body}"></span></li>
                <li class="list-group-item list-group-item-primary">Time :<span th:text="${post.createdAt}"></span></li>

            </ul>
        </div>
    </div>

</main>
</body>
</html>