<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/signup" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <label for="firstName">firstName</label>
    <input type="text" name="firstName" id="firstName">
    <label for="lastName">lastName</label>
    <input type="text" name="lastName" id="lastName">
    <label for="dateOfBirth">dateOfBirth</label>
    <input type="date" name="dateOfBirth" id="dateOfBirth">
    <label for="bio">bio</label>
    <input type="text" name="bio" id="bio">
    <input type="submit">
</form>

</body>
</html>