<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link type="text/css" href="style.css" rel="stylesheet">
</head>
<body style="background-color:#AA14F0;">
<header style="background-color:#f600ff;display: flex;justify-content: space-between;">
    <h2 sec:authentication="name"></h2>
    <div th:replace="fragments/header :: nav"></div>
    <!--    <h1 th:text="${currentUser.username}"></h1>-->
</header>
<main>
    <h1>this is user profile page</h1>

    <div th:each="user:${targetUser}" class="card" style="width: 18rem;margin: 10px;">
        <img class="card-img-top" th:src="@{/img/abstract-user-flat-4.svg}" alt="Card image cap">
        <div class="card-body">
            <h5 th:text="${user.username}" class="card-title"></h5>
            <p th:text="${user.firstName+' '+user.lastName}" class="card-text"></p>
            <p th:text="${user.dateOfBirth}" class="card-text"></p>
            <p th:text="${user.bio}" class="card-text"></p>

        </div>
    </div>

</main>
</body>
</html>