<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
</head>
<body>
<header>
    <h2 sec:authentication="name"></h2>
    <div th:replace="fragments/header :: nav"></div>
<!--    <h1 th:text="${currentUser.username}"></h1>-->
</header>
<main>
<h1>this is user profile page</h1>

<div>
<ul th:each="user:${targetUser}">
    <li th:text="${user.username}"></li>
    <li th:text="${user.firstName}"></li>
    <li th:text="${user.lastName}"></li>
    <li th:text="${user.dateOfBirth}"></li>
    <li th:text="${user.bio}"></li>
</ul>
</div>


</main>
</body>
</html>